<div class="container custom-container">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Atualizar Informações</h3>
    <div class="form-group">
      <input
        type="text"
        [(ngModel)]="userData.name"
        class="form-control"
        placeholder="Name"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        [(ngModel)]="userData.email"
        class="form-control"
        placeholder="Email"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        [(ngModel)]="userData.description"
        class="form-control"
        placeholder="Descrição"
      />
    </div>
    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="updateUser()">
        Salvar alterações
      </button>
    </div>
  </div>
</div>
